
body,h1,h2,p {
    margin: 0px;
    padding: 0px;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f0f0f0;
   color: #333;
   margin: 0;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
}
label, input , textarea{
    display: block;
    margin-bottom: 10px;
}
form{
   width: 100%;
   max-width: 400px;
   margin: 0 auto;

}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;

}
section {
    margin-bottom: 10px;
}
header {
    background-color: black;
    color: white;

}
nav a{
    text-decoration: none;
    color: #fff;
}
li {
    display: inline; 
    margin-right: 10px;
    text-align: middle; 
  }
.logo{
    max-width: 20px;
    height: auto;
}
footer{
    text-align: center;
    background-color:  black;
    color: white

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
} 
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}  
  tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {background-color: green;}

#imagens     {
   width: 50px;
   height: 30px;   
   display: block;
   margin: 0 auto;
}

footer {
  align: middle;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .preço {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

